{
  "env": {
    "es6": true,
    "browser": true
  },
  "ignorePatterns": ["**/*.min.js", "gpr-hack.js"],
  "extends": "eslint:recommended",
  "rules": {
    "no-extra-boolean-cast": "error",
    "semi": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-template": "error",
    "radix": "error",
    "eqeqeq": "error",
    "default-case": "error",
    "prefer-arrow-callback": "error",
    "no-param-reassign": "error",
    "prefer-destructuring": "error",
    "dot-location": ["error", "property"],
    "no-shadow": "error",
    "no-implicit-coercion": "off",
    "no-throw-literal": "error"
  }
}