{
  "env": {
    "es6": true,
    "browser": true
  },
  "ignorePatterns": ["**/*.min.js"],
  "extends": "eslint:recommended",
  "rules": {
    "no-extra-boolean-cast": "off",
    "semi": "error",
    "no-var": "error",
    "object-shorthand": "error"
  }
}